<h1>Hi, I'm app instance <%= instance %> running at <%= addr %></h1>

<h2>I have responded to this request:</h2>
<ul>
  <li><%= @total_instance_responses %> times through this app instance</li>
  <li><%= @total_app_responses %> times in total</li>
</ul>